name: Notifier

# triggers for notifying
#  these are some important trigger cases could be change as need
# check here https://developer.github.com/webhooks/
on:
  issue_comment:
    types: [ "created" ]
  issues:
    types: [ opened, edited, pinned, closed, reopened, assigned, labeled ]
  pull_request:
    types: [ opened, closed, edited, ready_for_review, review_requested, reopened ]
  pull_request_review_comment:
    types: [ "created" ]
  push:

env:
  OPENWEATHERMAP_API_KEY: ${{ secrets.OPENWEATHERMAP_API_KEY }}

jobs:
  build:
    name: Notifier
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: "npm ci"
        if: endsWith(github.ref, '-release')
        run: npm ci

      - name: "npm install"
        if: endsWith(github.ref, '-release') == false
        run: npm install

      - name: "npm run build"
        run: npm run build

      - name: "check for uncommitted changes"
        # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
        if: endsWith(github.ref, '-release')
        run: |
          git diff --exit-code --stat -- . ':!node_modules' \
          || (echo "##[error] found changed files after build. please 'npm run build && npm run format'" \
                "and check in all changes" \
           && exit 1)

      - name: Notifier
        uses: GokulDas027/TelegramBridge@master
        if: always()
        with:
          chat: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          status: ${{ job.status }} # don't change
          event: ${{ github.event_name }} # don't change
          actor: ${{ github.actor }} # don't change